{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
<script type="text/javascript" src="{{ asset("build/js/coverImageBrowser.js") }}"></script>


<div id="overlay">
    <div>
        <div class="images-thumbnails">
        </div>

        <a href='#' onclick='overlay()'>Click here to show the overlay</a>
    </div>
</div>
<a href='#' onclick='overlay()'>Click here to show the overlay</a>



<script>
    function overlay() {
        el = document.getElementById("overlay");
        el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
    }
</script>