<!doctype html>
<html>
<head>
</head>

<body>
    <div class="images-thumbnails">
        <img src="http://127.0.0.1:8000/uploads/images/894198bcc41fde8654f8b1d16d691ab3.jpeg">
    </div>

<script type="text/javascript" src="{{ asset("build/js/coverImageBrowser.js") }}"></script>

</body>
</html>
