{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="post-edit-body">

    <h1>Edit Post</h1>
        {{ include('post/_delete_form.html.twig') }}
    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}