{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="post-edit-body">

    <h1>Edit Post</h1>
        <div class="post-top-menu"><a href="{{ path('homepage') }}"> atgal</a></div>
        <br>
        <div class="post-top-menu""><a onclick="saveMe()">saugoti</a></div>
        <br>
        {{ include('post/_delete_form.html.twig') }}
        <br>
    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}