{% extends 'base.html.twig' %}


{% block parallax %}
    <div class="logoSection">
        <div class="subtitle">
            <a href="/post/homepage#mainHomepage">
                <div class="wrapper">
                    <img src="/styleelements/logo-large.png" id="small-logo-title">
                    <div class="mobilelogo" hidden></div>
                    <p>absurdo/kultūros trupiniai</p>
                    <br>
                    <img src="/styleelements/smallcrops.png" id="small-crop-title">
                </div>
            </a>
        </div>
        <div class="logo-holder">

        </div>

            {#<div class="scrollDownInstruction fadeIn">#}
                {#<a href="#mainHomepage"><p>pirmyn - žemyn</p>#}
                    {#<img src="/styleelements/downarrow.png" ></a>#}
            {#</div>#}

    </div>
    <div class="white-line"></div>
{% endblock %}

{% block body %}

<script src="{{ asset('build/js/infiniteScroll.js') }}"></script>



    <div class="page-body" id="mainHomepage">
    <div class="container">

    </div >
        <div class="page-load-status">
            <p class="infinite-scroll-request">
                <div class="loader-ellips">
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                </div>
            </p>
            <p class="infinite-scroll-last">Pabaiga</p>
            {#<p class="infinite-scroll-error">No more pages to load</p>#}
        </div>

        <div class="last-page" style="display: none"><p>Pabaiga</p></div>
    </div>

{% endblock %}