{% block footer %}
    <div class="footer">
        <hr>
    <p>© "Ubago Duona", {{ "now"|date("Y") }}, visos teisės saugomos. sprendimas: <a href="https://www.sauliusgto3000.lt" target="_blank" >SauliusGTO3000</a></p>
    </div>
{% endblock %}