{%  block sidebar %}
    <div class="sidebar-section fadeInlong" style="display: none;" id="sidebar-section">
        <p class="sidebar-title">skaitomiausi</p>
        {% include 'post/topfive.html.twig' %}

        <p class="sidebar-title">mažasis arhcyvas</p>
        <div class="small-archive-body">
            {% for year,month in archiveBuilder.getArchiveData(10) %}
                <div class="small-archive-year">- {{ year }} -</div>

                {% for month,post in month %}
                    <div class="small-archive-month">{{ month }}</div>
                    {% for title in post %}
                       <p>{{ title|raw }}</p>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
        <br>
        <a href="/post/archive" class="link-to-archive">didysis archyvas</a>
        <br>
        <a href="{{ path('showallBig') }}" class="link-to-archive">Hashtag'ai</a>
    </div>
{% endblock %}