{% extends 'base.html.twig' %}
{% block body %}
    <div class="archive-body">
        <h1>apie</h1>
        <p>Ubago Duona - tai gimtadienio dovana vienai rašytojai, kuri dievina absurdą ir jo spalvingumą. Karts nuo karto tą absurdą pavadindavome "Ubago Duona" ir kažkada prie alaus buvo laisva forma pasakyta - gal reiktų mums tokį puslapį sukurti?</p>


    </div>

    {% include 'author/showAll.html.twig' %}

{% endblock %}