{% extends 'base.html.twig' %}
{% block body %}
    <div class="author-show-body">
        <button onclick="goBack()" class="back-button-author">atgal</button>
        <br>
        <br>
        <p></p>
        <img src="/styleelements/logo-small.png">
        <div class="about-content">
            <p>„Mokytojo darbe bus pradėtas taikyti etatinis darbo užmokesčio sistemos modelis. Švietimo ir mokslo ministerijos patvirtintame internetiniame puslapyje etatinis.lt kiekvienas pedagogas galės apsiskaičiuoti savo atlyginimą specialioje skaičiuoklėje“, – radijo bangomis šeštą ryto skambėjo abejingas, žemas ir objektyvus radijo žinių vedėjos balsas, pagaliau pranašaujantis mokslo globėjams skaidrią ir daug žadančią ateitį. Kad pedagogams nereiktų surokavus savo pompastinio atlygio griebtis didesnės klonazepamo pakuotės ar lūkuriuoti nuolaidų virvėms „Senukuose“, mes, guvūs protai, revoliucinė ateitis, nusprendėme nepalikti kultūros ir švietimo piramidės viršaus pajamų šešėlyje. Ubagoduona.lt – tai universalus taupumo, kultūrinės filosofijos ir orumo gidas, lydėsiąs Jus po apkerpėjusias ir baigiančias žemėn susmukti finansines pilis. Mes žadame nepamiršti nelaimėje ne tik mokytojų, bet ir bibliotekininkų, socialinių darbuotojų, muzikantų, teatro aktorių, menininkų, filosofų, teisininkų ir bet kurių kitų, norinčių respektabiliai, kultūringai bei taupiai gyventi.</p>
            <p>Dabartinės lietuvių kalbos žodynas ubagą apibūdina kaip elgetą, kas mūsuose labai garbingos reikšmės dar įgauti nespėjo, tačiau romėnai jau senovėje žinojo: „Nuskurdusiame finansiniame kūne – turtinga siela“. Ubagu neįmanoma tapti per vieną dieną, šio statuso reikia užsitarnauti ilgu ir sunkiu darbu. Ubagais gali būti tik garbingi žmonės, kurie kadais skaitė enciklopediją, arė laukus, vijo virves, buvo daktarais ar laikė bites, tokie tik kaip Petras Sabaliūnas. Biliūnas „Ubage“ sakė: „Jaučiau, kad dalį amžinos vaikų kalties ir aš savyje nešioju“. Jonai, ubagoduona.lt turi Jums triuškinančiai gerų žinių. Pagaliau kad ir mažam mediniame karstelyje galėsite atpalaiduoti džiovos iškankintą krūtinę. Šis gidas amžiną vaikų kaltę traiškys kaip sunkvežimis kaimo pakelės slyvukus.</p>
            <p>Būkim biedni, bet teisingi – puslapis niekaip nesusijęs su neapykantos kurstymu valstybei bei jos sistemoms, tai absoliuti apeliacija į meilę šiai tautai, jos žmonėms ir jų skardžiam juokui. Mes neketiname taikytis į politiką ir nepriklausome jokiai politinei partijai, mūsų vyriausybės soste sėdi liaudies širdys, parlamente aistringai kuždasi vilties balsai. Bet kuriems norintiems mus koneveikti ar patraukti baudžiamojon atsakomybėn už neskoningus pokštus siūlome atpalaiduoti įsitempusius pečius. Ir klasta, kurios čia apstu gali pasirodyti įtariesiems, tebūna palaidota absurdo požemiuose.</p>
        </div>
        <a href="{{ path('privacy') }}" style="font-size: 14px; font-weight: bold">privatumo politika</a>
    </div>
    {% include 'hashtag/showAll.html.twig' %}
    {% include 'author/showAll.html.twig' %}
    <a href="{{ path('login') }}" style="text-align: center; display: block; font-size: 14px; font-weight: bold; font-family: 'HeadlandOne-Regular'" >prisijungti autoriui</a>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}