{% extends 'base.html.twig' %}
{% block body %}
    <div class="author-show-body">
        <h1>Privatumo Politika</h1>
        <h2>Trumpai, drūtai ir nuoširdžiai:</h2>

        <p>Čia – tik blogas. Mes neprašom kortelių duomenų, asmens kodų ar klausomės jūsų telefonų pokalbių. Atėjot, paskaitėt ir per google ir facebook analytics mums užregistruoja, kad kažkas kažkur su Huawey ar iphone iš Lietuvos skaitė straipsnį, kiek ilgai skaitė, kelintą valandą skaitė. Jeigu komentuosite  po straipsniu – tuomet matysis jūsų Facebook profilis. Viskas, jokių paslėptų juodųjų magijų ar kito bieso.</p>
        <h2>Ilgai, nuobodžiai ir teisiškai teisingai:</h2>
        <p>„Ubago Duona“, įsipareigoja užtikrinti Jūsų asmeninės informacijos saugumą ir Jūsų teisių apsaugą Jums naudojantis mūsų interneto svetaine ir joje esančiu turiniu.
        Įgyvendindama šias pareigas, „Ubago Duona“ vadovaujasi Lietuvos Respublikos asmens duomenų teisinės apsaugos įstatymu, Lietuvos Respublikos elektroninių ryšių įstatymu ir kitais teisės aktais, reglamentuojančiais asmens duomenų ir privatumo teisinę apsaugą.
        Ši Privatumo politika aprašo “UBAGO DUONA“  tinklapio lankytojų duomenų tvarkymo praktiką. Ji gali būti keičiama ir tobulinama be atskiro pranešimo ar įspėjimo.
        Lankydamiesi “UBAGO DUONA“  interneto svetainėje, pateikdami savo informaciją ir pateikdami papildomus sutikimus, kai to aiškiai reikia pagal šią Privatumo politiką, Jūs mums suteikiate teisę rinkti, valdyti, tvarkyti ir saugoti Jūsų duomenis tokia apimtimi ir tokiais tikslais, kaip numatyta šioje Privatumo politikoje.
        Jei jums kiltų kokių nors su šia politika ar joje aprašytais dalykais susijusių klausimų, siųskite laišką el. paštu: ubagoduona@gmail.com
        Ši Privatumo politika netaikoma “UBAGO DUONA“  tinklapyje pateikiamoms nuorodoms į kitų asmenų tinklapius, todėl mes rekomenduojame atskirai pasidomėti minėtų tinklapių privatumo politika ar taisyklėmis.
        Šioje Privatumo politikoje Jūs rasite informaciją apie tai:
        -       kokią informaciją apie Jus gali rinkti “UBAGO DUONA“ ;
        -       kokiais tikslais “UBAGO DUONA“  naudoja apie Jus surinktą informaciją;
        -       kiek laiko “UBAGO DUONA“  saugos Jūsų asmeninę informaciją;
        -       ar informacija apie Jus bus perduodama kitiems asmenims;
        -       kada ir kaip “UBAGO DUONA“  gali tvarkyti nepilnamečių asmeninę informaciją;
        -       kokius slapukus renka, naudoja ir saugoja “UBAGO DUONA“ ;
        -       kokias teises Jūs turite ir kaip jas galite įgyvendinti.

        Renkama informacija
        Mes renkame duomenis apie Jus:
        -       Jums patiems pateikus duomenis apie save registruojantis interneto svetainėje ar kitu būdu;
        -       automatiškai Jums kiekvieną kartą lankantis mūsų interneto svetainėje;
        -       kai Jūsų sutikimu mums duomenis perduoda kiti tinklapiai ar portalai.

        Jūsų pačių pateikiami duomenys

        “UBAGO DUONA“  kaupia ir saugo asmens duomenis, kuriuos Jūs patys pateikiate apie save registruodamiesi tinklapyje ir kurdami savo paskyrą: vardas, pavardė, elektroninio pašto adresas, vartotojo prisijungimo vardas.

        Jūs galite bet kada ištrinti savo sukurtą paskyrą “UBAGO DUONA“ . Jums ištrynus savo paskyrą, “UBAGO DUONA“  neteks visos Jūsų pateiktos asmeninės informacijos. Dėl paskyros ištrynimo galite kreiptis šiuo elektroniniu paštu: ubagoduona@gmail.com. Jūsų paskyra bus ištrinta ne vėliau kaip per dvi darbo dienas po kreipimosi nurodytu elektroniniu paštu.

        Automatinis rinkimas
        “UBAGO DUONA“  automatiškai renka apie Jus duomenis kiekvieną kartą Jums apsilankant “UBAGO DUONA“  interneto svetainėje tam, kad:
        -       tinklapio veikimas būtų patogus, efektyvus ir atitiktų Jūsų poreikius;
        -       būtų užtikrintas sklandus tinklapio administravimas (pavyzdžiui, Jums siunčiant prisijungimo prie paskyros duomenų priminimus, pranešant apie mūsų tinklapio laikiną neveikimą, kitus trikdžius, kt.);
        -       laiku ir tinkamai būtų pateikti atsakymai į Jūsų užklausas, prašymus;
        -       Jums būtų pateikti įdomūs pasiūlymai ir aktuali informacija;
        -       “UBAGO DUONA“  galėtų su Jumis susisiekti dėl bet kokios Jūsų pateiktos informacijos;
        -       “UBAGO DUONA“  galėtų vykdyti statistinę ir kitą analizę nuolat tobulindama tinklapio turinį ir jame teikiamas paslaugas.

        Šiais tikslais gali būti renkami tokie Jūsų asmens duomenys: IP adresas, elektroninio pašto adresas, vartotojo prisijungimo vardas, slaptažodis.

        Mes taip pat analizuojame ir naudojame apibendrinus duomenis, kurie gali būti sukurti Jūsų asmens duomenų pagrindu, tačiau taip, kad iš jų jau nebėra įmanoma nustatyti Jūsų asmenvardžio. Tokie duomenys analizuojami:

        -       lankytojams ar jų grupėms apibūdinti;
        -       bendradarbiauti su reklamos agentūromis.

        Jūs galite reikalauti, kad mes ištrintume visus apie Jus automatiškai surinktus ir tvarkomus duomenis kreipdamiesi elektroniniu paštu ubagoduona@gmail.com Tokie duomenys bus ištrinti ne vėliau kaip per dvi darbo dienas po kreipimosi nurodytu elektroniniu paštu.

        Kiti tinklapiai ar socialiniai portalai

        Jei naudodamiesi mūsų tinklapiu pasirenkate prisijungimą prie savo paskyros per socialinius portalus, tokius kaip Facebook ar LinkedIn, “UBAGO DUONA“  gali gauti ir šiuose portaluose kaupiamą informaciją apie Jus.

        Jūsų asmens duomenis mes galime gauti ir tuo atveju, kai Jūsų sutikimu mums duomenis perduoda kiti tinklapiai ar portalai.

        Kada “UBAGO DUONA“  gali su Jumis susisiekti dėl konkrečių pasiūlymų?

        “UBAGO DUONA“  taip pat renka Jūsų duomenis, kuriuos Jūs patys mums pateikiate registruodamiesi konkursuose.

        Šiam tikslui “UBAGO DUONA“  kaupia ir saugo šiuos Jūsų asmens duomenis: vardas, pavardė, elektroninio pašto adresas, telefono numeris, gyvenamosios vietos adresas.

        Jūs galite reikalauti, kad mes ištrintume Jūsų pačių pateiktus duomenis kreipdamiesi elektroniniu paštu ubagoduona@gmail.com Tokie duomenys bus ištrinti ne vėliau kaip per dvi darbo dienas po kreipimosi nurodytu elektroniniu paštu.

        Saugojimo terminas

        Jūsų asmeninę informaciją saugosime ne ilgiau, negu tai būtina šioje Privatumo politikoje nurodytiems tikslams.

        Tiesioginės rinkodaros tikslu tvarkomi duomenys bus saugomi ne ilgiau nei 2 metus. Ilgesnis Jūsų asmeninės informacijos saugojimas gali būti vykdomas tik, kai:

        -       esama pagrįstų įtarimų dėl neteisėtos veikos, dėl kurios yra atliekamas tyrimas;

        -       Jūsų duomenys būtini tinkamam ginčo, skundo išsprendimui;

        -       jeigu mes esame gavę skundų, susijusių su klientu, ar jeigu mes esame pastebėję atitinkamo kliento padarytus pažeidimus; ar

        -       esant kitiems specialiems teisės aktuose numatytiems pagrindams.

        Šie duomenys sunaikinami nedelsiant gavus teisėtus teisėsaugos ar kitų įgaliotų institucijų nurodymus.

        Duomenų perdavimas

        Jūsų pateikti asmens duomenys jokiu būdu nebus perduodami trečiosioms šalims, išskyrus įstatymų numatytus atvejus, kai toks pateikimas yra būtinas (pvz., teisėsaugos institucijoms, teismui).

        Duomenų perdavimas trečiosioms šalims taip pat gali būti vykdomas esant išankstiniam Jūsų sutikimui.

        Nepilnamečių asmens duomenų tvarkymas

        “UBAGO DUONA“  tinklapyje yra patalpinamas turinys (TV laidos, filmai, kt.), kuris gali būti rodomas tik asmenims sulaukusiems tam tikro amžiaus.

        Tvarkant nepilnamečio asmens duomenis sutikimo pagrindu informacinės visuomenės paslaugų siūlymui, toks duomenų tvarkymas yra teisėtas, jei nepilnametis yra sulaukęs bent 16 metų. Jeigu tokiam nepilnamečiui nėra 16 metų, toks tvarkymas yra teisėtas tik tokiu atveju, jei sutikimą davė arba tvarkyti duomenis leido nepilnamečio tėvai arba globėjai, TODĖL:

        -       jeigu Jūs esate jaunesnis nei 18 metų, bet jau sulaukęs 16 metų, naudodamiesi mūsų tinklapyje esančiomis paslaugomis, Jūs patvirtinate, jog turite savo tėvų, globėjų pritarimą dėl Jūsų asmeninės informacijos atskleidimo “UBAGO DUONA“ ;

        -       jeigu Jūs esate jaunesnis nei 16 metų, naudotis mūsų tinklapyje esančiomis paslaugomis ir turiniu galite tik Jūsų tėvams, globėjams dėl to davus sutikimą “UBAGO DUONA“ .

        Slapukai

        “UBAGO DUONA“  internetiniame tinklapyje mes naudojame slapukus (angl., cookies), siekdami kiek įmanoma labiau personalizuoti Jūsų lankomo “UBAGO DUONA“  tinklapio veikimą. Slapukais siekiame:



        -       išvengti pakartotinės registracijos ir anketų pildymo nuolatiniams tinklapio lankytojams;

        -       atpažinti sugrįžtančius tinklapio lankytojus;

        -       analizuoti Jūsų įpročius, kad tinklapio veikimas būtų patogus, efektyvus ir atitiktų Jūsų poreikius bei lūkesčius.

        Kas yra slapukai?

        Slapukai yra nedideli tekstiniai failai (užimantys iki kelių KB), kuriuos Jūsų interneto naršyklė (pavyzdžiui, Internet Explorer, Edge, Firefox,  Chrome, Opera arba Safari) patalpina Jūsų kompiuteryje, planšetėje arba išmaniajame įrenginyje. Jie leidžia tinklapiui išsaugoti tokius duomenis, kaip įrenginio IP adresas, naršyklės tipas, demografinius duomenis (amžiaus grupė, lytis), duomenis apie tai, kaip Jūs naudojatės tinklapiu (kokius puslapius vartote, kokiu turiniu domitės).

        Slapukai mūsų tinklapiui suteikia „atmintį“ – kiekvieno apsilankymo metu Jūs esate atpažįstamas kaip nuolatinis, pastovus tinklapio lankytojas.

        Kaip slapukai naudojami “UBAGO DUONA“  svetainėje?

        Apsilankius mūsų tinklapyje, gali būti sukurti tokio tipo slapukai:

        •         Būtinieji slapukai – slapukai, naudojami vykdant tokias užklausas kaip prisijungimas prie vartotojo paskyros.



        PHPSESSED, linkedin_oauth_7c46fi5ef8eh_crc – galioja TIK naršyklės sesijos metu.



        •        „Google Analytics“ žymėjimo ir elgsenos slapukai – slapukai, kurie mums pasako, ar Jūs lankėtės “UBAGO DUONA“  puslapyje anksčiau, ar turite išsaugoję ankstesnių apsilankymų slapukus. Šie slapukai leidžia nustatyti unikalių “UBAGO DUONA“  tinklapio lankytojų skaičių ir jų apsilankymo dažnumą. Šie slapukai mums padeda rinkti ir sisteminti statistinę informaciją.



        _autuvc; _atuvs; _gat;  – galioja momentiškai;

        _utma; _ga; _gfp_64b; _atuvc - galioja dvejus metus;

        _utmz – galioja 6 mėnesius;

        _gid  - galioja vieną dieną.



        •         Trečiųjų asmenų reklaminiai slapukai – daug skelbimų, kuriuos matote “UBAGO DUONA“  tinklalapyje, yra pateikti kitų ūkio subjektų. Kai kurie iš šių subjektų naudoja savo pačių anoniminius slapukus analizuodami, kiek žmonių matė konkretų skelbimą arba kiek žmonių matė jį daugiau negu vieną kartą. Tokius slapukus kuriančios bendrovės taiko savo parengtas politikas ir mes neturime jokios įtakos tokių slapukų kūrimui ar jų saugojimui. Mes Jums rekomenduojame atskirai pasidomėti tų bendrovių privatumo ar slapukų politika, kuri bus patalpinta jų interneto tinklapiuose.

        •         Kiti trečiųjų asmenų slapukai – kai kuriuose mūsų tinklapio puslapiuose kiti subjektai taip pat gali naudoti savo pačių anoniminius slapukus, skirtus tam, kad jų sukurtos programos ar aplikacijos būtų pritaikytos prie Jūsų poreikių. Dėl slapukų veikimo specifikos, mūsų tinklapis neturi prieigos prie šių slapukų, lygiai kaip ir kiti subjektai neturi prieigos prie mūsų nustatomų slapukų. Pavyzdžiui, kai pasidalinate mūsų tinklapyje rastu straipsniu naudodamiesi “UBAGO DUONA“  tinklalapyje esančiu socialinės žiniasklaidos dalijimosi funkcijos mygtuku (pvz., Facebook), tai bus užregistruota tą mygtuką sukūrusiame socialiniame tinkle.







        Kaip išjungti slapukus ir nebesutikti su jų rinkimu?

        Daugelis interneto naršyklių yra nustatytos taip, kad automatiškai priimtų slapukus. Jūs galite slapukus bet kuriuo Jums patogiu metu išjungti ir tokiu būdu nebesutikti, kad mūsų tinklapis juos rinktų, tačiau taip padarius bus sumažintas tinklapio funkcionalumas, todėl jis gali neveikti taip, kaip dera ir kaip veikė iki tokio atsisakymo.

        Jūs galite reikalauti, kad mes ištrintume visus apie Jus “UBAGO DUONA“ .lt portale automatiškai slapukų pagalba surinktus ir tvarkomus duomenis kreipdamiesi elektroniniu paštu “Ubago Duona“ @”Ubago Duona“ .lt. Tokie duomenys bus ištrinti ne vėliau kaip per 2 darbo dienas po kreipimosi nurodytu elektroniniu paštu.

        Visos šiuolaikinės interneto naršyklės leidžia keisti slapukų nustatymus. Paprastai šiuos nustatymus galite rasti savo naršyklės „parinkčių“ arba „pasirinkimų“ (angl., Settings, Internet Options ir pan.) meniu:

        Slapukų nustatymai Internet Explorer
        Slapukų nustatymai Firefox
        Slapukų nustatymai Chrome
        Slapukų nustatymai Safari web ir iOS.

        Kad suprastumėte šiuos nustatymus, Jums gali padėti pateiktos nuorodos, arba galite pasinaudoti savo naršyklės „Pagalbos“ (angl., Help) pasirinkimu, kad gautumėte daugiau informacijos.

        Daugiau informacijos apie tai, kaip pašalinti slapukus, o taip pat kitos naudingos informacijos, susijusios su slapukų naudojimu, galite rasti interneto svetainėje http://www.allaboutcookies.org/.

        Jūsų teisės

        Be kitų šioje Privatumo Politikoje jau nurodytų teisių, Jūs turite teisę:

        -       susipažinti su savo asmens duomenimis, kuriuos tvarko “UBAGO DUONA“ , pateikę asmens tapatybės dokumentą (pasą, asmens tapatybės kortelę ar vairuotojo pažymėjimą);

        -       sužinoti, kokiems gavėjams jie teikiami ar buvo teikti per paskutinius vienerius metus;

        -       susipažinę su savo asmens duomenis, Jūs turite teisę reikalauti ištaisyti neteisingus, netikslius asmens duomenis;

        -       nesutikti su Jūsų asmens duomenų tvarkymu; tokiu atveju Jūs galite netekti galimybės naudotis mūsų tinklapio turiniu;

        -       reikalauti apriboti duomenų tvarkymą;

        -       reikalauti panaikinti vartotojo paskyrą;

        -       reikalauti ištrinti visus apie Jus sukauptus duomenis;

        -       reikalauti sustabdyti asmens duomenų tvarkymą, kai duomenys tvarkomi nesilaikant Asmens duomenų teisinės apsaugos įstatymo ir kitų įstatymų nuostatų, išskyrus Privatumo politikoje numatytus atvejus;

        -       atšaukti duotą sutikimą tiesioginei rinkodarai ar slapukams.

        Gavę tokį Jūsų prašymą ar nurodymą, mes ne vėliau kaip per 30 (trisdešimt) kalendorinių dienų pateiksime atsakymą bei atliksime prašyme nurodytus veiksmus ar motyvuotai atsisakysime juos atlikti. Jeigu to pageidausite, mūsų atsakymas Jums bus pateiktas raštu. “UBAGO DUONA“  šias Jūsų teises įgyvendina nemokamai.

        Jeigu mums kyla abejonių Jūsų pateiktų asmens duomenų teisingumu, tuomet galime sustabdyti šių duomenų tvarkymą, šiuos duomenis patikrinti ir patikslinti. Tokie asmens duomenys būtų naudojami tik jų teisingumui patikrinti.

        Jūsų prašymas, klausimas ar nurodymas “UBAGO DUONA“  turi būti pateikiamas vienu iš šių būdų:

        -       elektroniniu paštu adresu: ubagoduona@gmail.com

            Gindami savo pažeistas teises, susijusias su asmens duomenų teisine apsauga, Jūs turite teisę pateikti skundą Valstybinei duomenų apsaugos inspekcijai (www.ada.lt).</p>
    </div>
{% endblock %}