{% extends 'base.html.twig' %}

{% block body %}
    <div class="edit-author-body">
        <h1>Redaguoti Autorių</h1>
        <a href="{{ path('author_list') }}">atgal</a>

        {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}


        {{ include('author/_delete_form.html.twig') }}
    </div>
{% endblock %}