{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}