{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <div class="author-show-body">
    <h1>Naujas autorius</h1>

    {{ include('author/_form.html.twig') }}
    </div>
{% endblock %}