{% extends 'base.html.twig' %}
{% block body %}
    <div class="author-show-body">
        {% for author in authors %}
            <div class="author-box">
                <a href="{{ path('author_show', {'id': author.id}) }}"><img src="{{ author.profilePicture }}"></a>
                <br>
                <a href="{{ path('author_show', {'id': author.id}) }}">{{ author.username }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
