
{% block body %}
    <div class="author-show-body">
        <h2>Ubago duoną trupina:</h2>
        <div id="container">
        {% for author in authorRepository.findAll() %}
            <div>
                <a href="{{ path('author_show', {'id': author.id}) }}"><img src="{{ author.profilePicture }}"></a>
                <br>
                <a href="{{ path('author_show', {'id': author.id}) }}" class="author-show-all-name">{{ author.username }}</a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
