{% extends 'base.html.twig' %}
{% block body %}
    <div class="author-posts">
    {% for post in postRepository.findByAuthor(author) %}
        <a href="/post/{{ post.id }}">{{ post.title }}</a>
        <br>
    {% endfor %}
{% endblock %}