{% extends 'base.html.twig' %}
{% block body %}
    <div class="author-show-body">
        <button onclick="goBack()" class="back-button-author">atgal</button>
        <br>
        <br>
        <h2>visos grotžymės/hashtag'ai arba temos:</h2>
        <div id="container" class="hashtags-showall">

            {% for hashtag in hashtagRepository.findAll() %}
                <a href="/hashtag/posts/{{ hashtag.id }}"> #{{ hashtag }} </a>
            {% endfor %}
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
