
{% block body %}
    <div class="author-show-body">
        <h2>Grotžymės/Hashtag'ai arba temos:</h2>
        <div id="container">
            {% for hashtag in hashtagRepository.findAllActiveHashtags() %}
                <a href="/hashtag/posts/{{ hashtag.id }}"> #{{ hashtag }} </a>
            {% endfor %}
            <br>
            <br>
            <a href="{{ path('showallBig') }}" style="font-size: 14px; font-weight: bold">visi Hashtag'ai</a>
        </div>
    </div>
{% endblock %}