@import "~select2/src/scss/core";
.last-page{
  text-align: center;
  font-family: 'HeadlandOne-Regular';
  font-size: 14px;
}
.about-content{
  margin-right: 15px;
  margin-left: 15px;
}

@font-face {
  font-family: "HeadlandOne-Regular";
  src: url( /fonts/HeadlandOne-Regular.ttf ); /* IE */
  src: local("HeadlandOne-Regular"), url("/fonts/HeadlandOne-Regular.ttf"); /*non-IE*/
}
.after-parallax{
  background-color: white;
  z-index: 999;
  word-wrap: break-word;
  padding-top: 50px;
  min-height: 950px;
}
.post{
  font-family: "HeadlandOne-Regular";
}
.container{
  font-family: "HeadlandOne-Regular";
  width: 800px;
  img{
    margin-bottom:-40px;
  }
  .post-title{
    background-color: black;
    color: white;
    margin: 5px;

    position: relative;
    display: table;
    padding: 15px;
    max-width: 600px;
  }
  .post-date{
    padding-left: 15px;
    font-size: 14px;
  }
  .post-shortcontent{
    p {
      padding-left: 15px;
      margin-right: 15px;

    }
    }
  .post-readMore{
    margin-top: 45px;
    font-weight: bold;
    margin-bottom: 25px;
      padding-left:15px;
      font-family: 'HeadlandOne-Regular';

    a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      color: #ff2800;
    }

  }

}

.select2{
  width: 500px;
}
#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

.images-thumbnails{
  background-color: whitesmoke;
  img{
    display: block;
    margin: 15px;
    max-height: 150px;
  }
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  background-image: "https://image.shutterstock.com/image-vector/vector-isolated-donut-modern-flat-260nw-487051210.jpg";
  width: 1em;
  height: 1em;

  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

.page-body{
  background-color: white;
  width: 800px;
  display: block;
  margin: auto;
  @media screen and (max-width: 800px){
    max-width:100%;
    .container{
      width: auto;
    }
    img{
      width: 100%;
    }
  }

}


.fadeIn{
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  animation: fadeIn 3s;

  @keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
  }
}

.fadeInlong{
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  animation: fadeIn 5s;

  @keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
  }
}

.nav{
  // display:none;
  z-index:998;
  position: fixed;
  top:0;
  font-size: 20px;
  margin: 0 !important;
  padding: 0 !important;
  width:100%;
  height:80px;
  background-color:red;
  border-bottom: 1px solid black;
  // opacity:0.1;
  //background-color:white;
  overflow:hidden;
  a{
    font-family: 'HeadlandOne-Regular' !important;
    color: black;

  }
  a:hover{
    cursor:pointer;
    color: #ff2800 !important;
  }
.navbar-bottom{
  height: 50px;
  background-color: #5eb5e0;
  margin-top: 50px;
}

  .navRight{
    float:left;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        margin-right:20px;
        color: black;
      }
    }
  }

  .smallLogo{
    height:50px;
    // width:50px;
    float:left;
    display: inline-block;
    margin-left:20px;

  }
}

.login-body{
  font-family: 'HeadlandOne-Regular';
  background-image: none;
  margin-top: 80px;
  text-align: center;
  -webkit-appearance: none;
  .login-section{

    -webkit-appearance: none;
    margin-top: 0;
    .label{
      font-size: 25px;
      color: black;
    }

    input{
      text-align: center;
      font-size: 25px;
      -webkit-appearance: none;
      background-color: white;
      border: 0;
      border-bottom: 2px solid black;
      font-family: 'HeadlandOne-Regular';
    }
    input:-webkit-autofill{
      -webkit-box-shadow: 0 0 0 100px white inset;
    }
    input:focus{
      background-color: white;
    }
    input:-o-prefocus{
      background-color: teal;
    }

    @media screen and (max-width: 500px){
      width: 200px;
      font-size: 15px;
    }

  }
}

