.author-show-body{
  max-width: 800px;
  margin: auto;
  margin-top:100px;
  font-family: "HeadlandOne-Regular";
  word-wrap: break-word;
  background-color: white;
  text-align: center;
}

.author-box{
  display: table;
  float: left;
  margin: 15px;

  }
.author-box:hover{
  background-color: black;
  a{
    color: white;
  }
}