.author-show-body{
  max-width: 800px;
  margin: auto;
  margin-top:100px;
  font-family: "HeadlandOne-Regular";
  word-wrap: break-word;
  background-color: white;
}

.author-picture{
  display: table;
  margin: auto;
  margin-top: 10px;
}

.author-name{
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.author-real-name{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

button{
  padding: 5px;
  font-family: 'HeadlandOne-Regular';
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  box-shadow: none;
}
button:hover{
  cursor: pointer;
  background-color: white;
  color: #ff2800;
}

.author-posts{
  text-align: center;
  a{
      box-shadow: 10px 0 0 black, -10px 0 0 black;
      background-color: black;
      color: white;
      padding: 15px;
      max-width: 600px;
      text-decoration: none;
      line-height: 40px;
      font-size: 15px!important;
  }
}

.back-button-author{
  float: left;
  font-size: 20px;
}

.all-authors-link{
  display: block;
  float: left;
  font-size: 20px;
}

.delete-author{
  button{
    font-size: 14px;
  }
}


