.post-by-hashtag-list{
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
  a{
    box-shadow: 10px 0 0 black, -10px 0 0 black;
    background-color: black;
    color: white;
    padding: 15px;
    max-width: 600px;
    text-decoration: none;
    line-height: 40px;
  }

}