html{
  //background-image:url("/styleelements/background2.png");
  //background-size: 75%;
}

.post-title{
  font-size: 40px;
}

.wrapper{
  display: inline-block;
  box-shadow: 5px 10px red;
  padding: 50px;
  padding-bottom: 20px;
  background-color: rgba(255,255,255,0.97);
}

#logoTop{
  z-index: -9999999;
  position: fixed;
  bottom: 30%;
  left: 50%;
  margin-left: -100px;
  color: black;
  line-height: 0px;
  display: block;
}
.logoSection{
  height:100vh;
  background-image:url("/styleelements/background2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-repeat-x: repeat;
  //background-position: center;
  background-position-y: center;

  .subtitle{
    margin-top: 25vh;
    z-index: 99;
    position:absolute;
    text-align: center;
    display:block;
    width: 100%;
    line-height: 0px;
    p{
      font-family: "HeadlandOne-Regular";
      font-weight: lighter;
      font-size: 20px;
    }

    #todays-date-line{
      font-size: 15px;
      padding-top: 15px;
    }
    #small-logo-title{
      height: 200px;
      padding-bottom: 25px;
    }
  }



  .todays-date{

    z-index: -9999999;
    position:fixed;

    bottom:27%;

    left:50%;
    margin-left:-75px;

    color:black;
    line-height:0px;
    display:block;
    p{
      font-family: "HeadlandOne-Regular";
      @media screen and (max-height: 730px){
        visibility: hidden;
      };
    }
  }
  .scrollDownInstruction{
    position:absolute;
    width:100%;
    bottom:0%;
    text-align:center;
    line-height:0px;
    display:block;
    padding: auto;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 5px;


    img{
      width:20px;
    }

    p{
      font-family: "HeadlandOne-Regular";

    }
    a{
      text-decoration:none;
      color: black;

    }
    a:hover{
      cursor:pointer;
      color: #ff2800 !important;;

    }
  }
}