@media screen and (max-width: 800px) {
  .logoSection {

    position: initial;
    margin-left: 0;
    background-color: transparent;
    .scrollDownInstruction{
      display: none!important;
    }



    .subtitle {
      background-color: transparent;
      position: initial;
      margin-left: 0;
      bottom: 0;
      line-height: initial;
      padding-top: 45vh;

      p {
        visibility: initial !important;
        margin: auto;
        text-align: center;
        background-color: white;
      }
      #todays-date-line {
        font-weight: lighter;
      }
    }
  }

}

@media screen and (max-width: 800px) and (orientation:landscape) {
  .post-title{
    font-size: 20px;
  }
  .scrollDownInstruction{
    display: none;
  }
}



