@media screen and (max-width: 800px) {
  .logoSection {
    background-size: 0vh;
    position: initial;
    margin-left: 0;

    .subtitle {
      position: initial;
      margin-left: 0;
      bottom: 0;
      line-height: initial;

      p {
        visibility: initial !important;
        margin: auto;
        margin-top: 45vh;
        margin-bottom: 5vh;
        text-align: center;
      }
      #todays-date-line {
        margin-top: 5px;
        margin-bottom: auto;
        font-weight: lighter;
      }
    }
  }
}


