@media screen and (max-height: 555px) and (min-width: 800px){
  .logoSection{
    display: none;
  }

}
@media screen and (max-width: 800px) {
  .login-body{
    .login-section{
      margin:auto;
    }
    input{
      max-width: 180px;
    }
  }

  .after-parallax{
    padding-top: 20px;
  }
  .post-shortcontent{
    margin-right: 15px;

  }

  .post-title{
    font-size: 20px;
  }

  .logoSection {
    background-image: url(/styleelements/background2-smaller.png);
    position: initial;
    margin-left: 0;
    background-color: transparent;
    background-position-y: bottom;
    background-position-x: left;
    background-attachment: scroll;

    .wrapper{
      display: inline-block;
      background-color: rgba(255,255,255,0.95);
      box-shadow: 5px 10px red;
      padding: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 295px;

      overflow: hidden;
      #small-crop-title{
        padding-bottom: 10px;
      }

      #small-logo-title{
        display: none;
      }
    }



    .subtitle {
      background-color: transparent;
      position: initial;
      margin-left: 0;
      bottom: 0;
      line-height: initial;
      display: inline-block;

      p {
        font-weight: lighter;
        visibility: initial !important;
        margin: auto;
        text-align: center;

      }
      #todays-date-line {
        font-weight: lighter;
        font-size: 15px;
      }


    }
  }
  .scrollDownInstruction{
    display: none!important;
  }
}

@media screen and (max-width: 800px) and (orientation:landscape) {
  .scrollDownInstruction{
    display: none;
  }
}

@media screen and (max-width: 800px) and (min-height:750px) {
  .logoSection {
    background-image: url(/styleelements/background2-tablet.png);
    background-position-y: bottom;
    background-repeat-x: repeat ;
  }

  #small-logo-title{
    display: block!important;
    max-width: 300px!important;
    height: auto!important;
  }
}

@media screen and (max-width: 1024px) and (min-height:750px) and (orientation: landscape) {
  .logoSection {
    background-image: url(/styleelements/background2-tablet.png);
    background-position-y: bottom;
    background-repeat-x: repeat ;
  }

  #small-logo-title{
    display: block!important;
    max-width: 300px!important;
    height: auto!important;
  }
}



