.show-post{
  max-width: 800px;
  margin: auto;
  margin-top:20px;
  font-family: "HeadlandOne-Regular";
  word-wrap: break-word;
  img{
    width: 100%;
  }
.post-cover-image{
  margin-bottom: -40px;
}
.post-content{
  padding-left: 15px;
}

.post-title{
  background-color: black;
  color: white;
  margin: 5px;
  position: relative;
  display: table;
  padding: 15px;
  max-width: 600px;
}

  .author-image-holder{
    margin: auto;
    display: table;
  }
  .author-image{
    border-radius:100px;
    max-width: 100px;
  }
  .author-name{
    margin-top: 0px;
    text-align: center;
  }
  .back-button{
    margin-bottom: 10px;
    a{
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  .post-author-section{
    line-height: 2;
    text-align: center;
    a{
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  .hashtags{
    margin-left: 15px;
    a:hover{
      cursor: pointer;
    }
  }

  .delete-post{
    margin-top: 20px;
    margin-bottom: 20px;
    button{
      padding: 5px;
      font-family: 'HeadlandOne-Regular';
      font-size: 14px;
      background-color: red;
      border: none;
      box-shadow: none;
    }
    button:hover{
      background-color: black;
      color: white;
    }

  }

  .back-button-post-show{
    a{
      font-size: 20px;
    }
  }
}